 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div class="jumbotron py-2">
    <h1 class="display-4">Welcome</h1>
    <p>This is your profile management portal. Click on your username to visit and manager your account information.</p>
</div>
</div>
